<div style="margin: 50px auto; width: 200px;">
    <input type="text" appCustom [patternKey]="1" placeholder="Alphanumeric"> <br>
    <input type="text" appCustom [patternKey]="2" placeholder="Only Letters"> <br>
    <input type="text" appCustom [patternKey]="3" placeholder="Arabic"> <br>
    <!-- <input type="text" appCustom [allowed]="allowed" [disAllowed]="disAllowed" placeholder="Custom"> <br>
    <input type="text" appCustom [allowed]="allowedDecimal" [disAllowed]="disAllowedDecimal" placeholder="Dcimal Number"> <br> -->
</div>